$font-size-0: 2rem !default; // 16px->32px
$font-size-1: 1.75rem !default; // 16px->28px #
$font-size-2: 1.5rem !default; // 16px->24px ##
$font-size-3: 1.25rem !default; // 16px->20px ###
$font-size-4: 1rem !default; // 16px->16px ####

// used primer variables
// @primer/css/support/variables/misc.scss
$font-weight-bold: 600;
$font-weight-semibold: 600;
$font-weight-normal: 400;
$font-weight-light: 400;
$body-font: -apple-system, BlinkMacSystemFont, 'SF Pro Text', 'Segoe UI', 'Arial', 'Helvetica Neue',
  'Helvetica', 'PingFang SC', 'Hiragino Sans GB', 'Source Han Sans CN', 'Source Han Sans SC',
  'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif !default;
$mono-font: 'SF Mono', 'Liberation Mono', 'Consolas', -apple-system, BlinkMacSystemFont, 'SF Pro Text',
  'Segoe UI', 'Arial', 'Helvetica Neue', 'Helvetica', 'PingFang SC', 'Hiragino Sans GB',
  'Source Han Sans CN', 'Source Han Sans SC', 'Microsoft YaHei', 'WenQuanYi Micro Hei', monospace !default;
$title-font: 'Liberation Sans', sans-serif !default;
$body-font-size: 16px !default;

$width-md: 768px;

$light-color-caption: #6A7894 !default;
$light-color-visited: #B48EAD !default;
$light-color-selection: #81a1c1 !default; // https://irocore.com/aofuji/
$light-color-header: #A3BE8C !default; // https://irocore.com/aofuji/
$light-color-primary: #81A1C1 !default; // https://irocore.com/aofuji/
$light-color-secondary: #81A1C1 !default; // https://irocore.com/fujimurasaki/
$light-color-focus: #3b469b !default; // https://irocore.com/aomurasaki/
$light-color-mute: #9ea1a3 !default; // https://irocore.com/suzu-iro/
$light-color-font: #3f4551 !default; // https://irocore.com/konnezu/
$light-color-divider: #e5e2e4 !default; // https://irocore.com/komachinezu/
$light-color-bg: #fffffd !default; // https://irocore.com/shiro/
$light-color-codebg: #f6f8fa !default; // GitHub

$dark-color-caption: #6A7894 !default;
$dark-color-visited: #B48EAD !default;
$dark-color-selection: #4C566A !default; // https://irocore.com/aofuji/
$dark-color-header: #A3BE8C !default; // https://irocore.com/aofuji/
$dark-color-primary: #81A1C1 !default; // https://irocore.com/aofuji/
$dark-color-secondary: #BF616A !default; // kai https://irocore.com/fujimurasaki/
$dark-color-active: #EBCB8B !default; // https://irocore.com/shironezumi/
$dark-color-mute: #616E88 !default; // https://irocore.com/suzu-iro/
$dark-color-font: #D8DEE9 !default; // https://irocore.com/gin-iro/
$dark-color-divider: #4C566A !default; // Discord
$dark-color-bg: #3B4252 !default; // Discord
$dark-color-codebg: #2E3440 !default; // kai GitHub

@font-face {
  font-family: "Liberation Sans";
  src: url("/amarakon.com/fonts/LiberationSans-Regular.ttf");
}

@font-face {
  font-family: "Liberation Mono";
  src: url("/amarakon.com/fonts/LiberationMono-Regular.ttf");
}
